body{
    text-align: center;

}
.btn{
    height: 200px;
    width: 200px;
    border: 4px solid black;
    border-radius: 10px;
    margin: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow
    ;
}
.blue{
    background-color: blue;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color: aqua;
}